.gallery-nav-item > a {
  color: black;
  font-size: small;
  font-weight: 500;
  text-transform: uppercase;
}

.gallery-nav .nav-link.active,
.gallery-nav .show > .nav-link {
  background-color: var(--accent-color) !important;
}

.gallery-nav-item > a:hover,
.gallery-nav-item > a:focus {
  background-color: var(--accent-color-muted);
  color: white;
}
